bindings/python/build
bindings/python/*.pyc
bindings/python/*.pyo
bindings/python/fiu_ctrl.py
libfiu/*.o
libfiu/libfiu.a
libfiu/libfiu.pc
libfiu/libfiu.so
libfiu/libfiu.so.*
libfiu/build-flags
libfiu/doxygen/doc.internal
libfiu/doxygen/doc.public
libfiu/doxygen/Doxyfile.base
preload/posix/*.o
preload/posix/*.so
preload/posix/build-flags
preload/posix/build-libcsoname
preload/posix/build-needlibdl
preload/posix/build-env.h
preload/posix/function_list
preload/posix/modules/*.o
preload/posix/modules/*.mod.c
preload/posix/modules/*.mod.fl
preload/run/*.o
preload/run/*.so
preload/run/fiu-run
preload/run/build-flags
preload/run/build-needlibdl
tests/*.o
tests/build-flags
tests/test-?
tests/libs/
tests/generated/build-flags
tests/generated/tests/*.[oc]
.*.swp
*.gcno
*.gcda
