bindings/python/build
bindings/python/*.pyc
bindings/python/*.pyo
libfiu/*.o
libfiu/libfiu.a
libfiu/libfiu.pc
libfiu/libfiu.so
preload/posix/*.o
preload/posix/*.so
preload/posix/modules/*.o
preload/posix/modules/*.mod.c
preload/run/*.o
preload/run/*.so
preload/run/fiu-run

