bindings/python2/build
bindings/python2/*.pyc
bindings/python2/*.pyo
bindings/python3/build
bindings/python3/*.pyc
bindings/python3/*.pyo
libfiu/*.o
libfiu/libfiu.a
libfiu/libfiu.pc
libfiu/libfiu.so
preload/*.o
preload/*.so
preload/modules/*.o
preload/modules/*.mod.c

